---
name: CI
on: [push]
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/setup-python/blob/main/docs/advanced-usage.md#caching-packages
      - uses: actions/checkout@v3
      - run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: poetry  # caching poetry dependencies
      - run: ./init.sh
